body{
    background-image: url(./images/download.jpeg);
    height:100%;
   
   
}

.intro{
    color: #F8F0E5;
    font-family: 'Kalam', cursive;
    font-size: 45px;
    margin-top: 240px;
    line-height: 30px;
    text-align: left;
}
.new{
    font-family: 'Kaushan Script', cursive;
    font-size: 32px;
    line-height: 27px;
}
            .button {
              border: none;
              color: white;
              padding: 16px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              transition-duration: 0.4s;
              cursor: pointer;
            }
            
            .button1 {
              background-color: #F8F0E5;
              color: black;
              border: 2px solid black;
              border-radius: 20px;
              font-family: 'Handlee', cursive;

            }
            
            .button1:hover {
                
              background-color: #0F2C59;
              color: white;
              border-radius: 20px;
              font-family: 'Handlee', cursive;

             
              

            }
            
            .button2 {
              background-color: #F8F0E5;
              color: black;
              border: 2px solid black;
              border-radius: 20px;
              font-family: 'Handlee', cursive;
              font-family: 'Handlee', cursive;



            }
            
            .button2:hover {
              background-color: #0F2C59;
              color: white;
              border-radius: 20px;
              font-family: 'Handlee', cursive;


            }
            .icons{
                float:right;
                margin-top: -235px;
               
            }
            
            

